In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Only run once

os.chdir('..')

basepath = os.getcwd()

data_train = pd.read_csv(basepath + '/data/train.csv')
data_test = pd.read_csv(basepath + '/data/test.csv')

print(f"Training set shape: {data_train.shape}\n")
print(f"Test set shape: {data_test.shape}\n")

Training set shape: (7613, 5)

Test set shape: (3263, 4)

In [3]:
display(data_train.head())
data_train.info()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [3]:
data_train.keyword.value_counts()

fatalities               45
deluge                   42
armageddon               42
sinking                  41
damage                   41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [4]:
data_key = data_train[data_train.keyword.isna() == False]

In [5]:
data_key.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7552 entries, 31 to 7582
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7552 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7552 non-null   object
 4   target    7552 non-null   int64
dtypes: int64(2), object(3)
memory usage: 354.0+ KB

## Target variable - disaster tweets

In [11]:
data_key_yes = data_key.loc[data_key.target == 1]
data_key_yes

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
37,55,ablaze,World Wide!!,INEC Office in Abia Set Ablaze - http://t.co/3...,1
38,56,ablaze,NaN,Barbados #Bridgetown JAMAICA ÛÒ Two cars set ...,1
46,66,ablaze,"GREENSBORO,NORTH CAROLINA",How the West was burned: Thousands of wildfire...,1
...,...,...,...,...,...
7542,10783,wreckage,"Xi'an, China",Wreckage 'conclusively confirmed' as from miss...,1
7543,10784,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...,1
7552,10795,wrecked,"Santa Cruz, CA",Israel wrecked my home. Now it wants my land. ...,1
7559,10808,wrecked,NaN,300K exotic car wrecked in train accident \nht...,1
7572,10823,wrecked,"Manhattan, NY",@Kirafrog @mount_wario Did you get wrecked again?,1

In [15]:
data_key_yes.keyword.value_counts()[:50]

derailment               39
wreckage                 39
outbreak                 39
debris                   37
oil%20spill              37
typhoon                  37
evacuated                32
suicide%20bombing        32
rescuers                 32
suicide%20bomb           32
nuclear%20disaster       31
razed                    31
suicide%20bomber         30
earthquake               30
airplane%20accident      30
collision                29
wildfire                 29
bridge%20collapse        29
evacuation               28
buildings%20on%20fire    28
mass%20murder            28
casualties               28
sandstorm                28
drought                  28
forest%20fires           27
devastation              27
hostages                 27
bombing                  27
wild%20fires             27
sinkhole                 27
famine                   26
thunderstorm             26
fatal                    26
displaced                26
derailed                 26
fatalities               26
floods                   26
deaths                   26
wounded                  26
violent%20storm          26
massacre                 25
attack                   25
flooding                 25
evacuate                 25
heat%20wave              25
dust%20storm             24
injured                  24
hailstorm                24
terrorism                24
accident                 24
Name: keyword, dtype: int64

In [17]:
data_key_yes.location.value_counts()[:50]

USA                            67
United States                  27
Nigeria                        22
India                          20
Mumbai                         19
UK                             16
London                         16
New York                       16
Washington, DC                 15
Canada                         13
Worldwide                      12
Washington, D.C.                9
Chicago, IL                     9
Australia                       9
Indonesia                       8
Los Angeles, CA                 8
California, USA                 8
Earth                           8
California                      7
New York, NY                    7
Nashville, TN                   7
Toronto                         7
Los Angeles                     7
San Francisco, CA               7
Sacramento, CA                  7
San Francisco                   6
Denver, Colorado                6
New York City                   6
US                              6
Ireland                         6
Kenya                           5
Atlanta, GA                     5
Pedophile hunting ground        5
London, UK                      5
Oklahoma City, OK               5
Paterson, New Jersey            5
Memphis, TN                     5
Seattle                         4
Melbourne, Australia            4
Planet Earth                    4
Tennessee                       4
United Kingdom                  4
Nigeria                         4
Scotland                        4
Lagos, Nigeria                  4
Sacramento                      4
Nairobi-KENYA                   4
Puerto Rico                     4
WorldWide                       4
Jakarta/Kuala Lumpur/S'pore     4
Name: location, dtype: int64

In [18]:
import nltk
import re
from unidecode import unidecode

In [19]:
regxcache={
# precompile regular expressions for faster preprocessing
"<.*?>" : re.compile("<.*?>"),
"&.{1,9};" : re.compile("&.{1,9};"),
"[^a-z]+" : re.compile("[^a-z]+"),
"\s[a-z]\s+" : re.compile("\s[a-z]\s+"),
"\s+" : re.compile("\s+"),
}

def preprocess(doc):
    """
    Normalize articles.

    1. lowercase
    2. only single whitespace
    3. unicode to ascii
    4. delete punctuation and numbers
    5. delete html tags <...>
    6. delete html character (like &nbsp;)
    7. delete stray single characters
    """
    # Lowercase
    doc = doc.lower()
    # expand negations
    doc = doc.replace("n't"," not")
    # Remove leading/trailing whitespace
    doc = doc.strip()
    # Convert Unicode into ASCII
    doc = unidecode(doc)
    # Remove HTML tags:
    doc = regxcache["<.*?>"].sub(" ", doc)
    # remove &nbsp; and other HTML codes up to 9 characters long
    doc = regxcache["&.{1,9};"].sub(" ", doc)
    # Remove punctuation and Numbers
    doc = regxcache["[^a-z]+"].sub( " ", doc)
    # Remove stray single characters
    doc = regxcache["\s[a-z]\s+"].sub( " ", doc)
    # Remove extra whitespace
    doc = regxcache["\s+"].sub( " ", doc)
    return doc

In [20]:
data_key["text_clean"] = data_key.text.apply(preprocess)

C:\Users\Arjun\AppData\Local\Temp/ipykernel_19428/645617206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_key["text_clean"] = data_key.text.apply(preprocess)

In [21]:
data_key.text_clean[33]

' africanbaze breaking news nigeria flag set ablaze in aba http co nndbgwyei'

In [22]:
data_key["text_len"] = data_key.text.apply(len)

data_key.groupby("keyword").text_len.sum()

C:\Users\Arjun\AppData\Local\Temp/ipykernel_19428/3922398094.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_key["text_len"] = data_key.text.apply(len)

keyword
ablaze                 3409
accident               3503
aftershock             3441
airplane%20accident    3724
ambulance              3739
                       ...
wounded                4109
wounds                 3411
wreck                  3276
wreckage               4768
wrecked                3009
Name: text_len, Length: 221, dtype: int64

In [23]:
data_key["text_clean_len"] = data_key.text_clean.apply(len)

data_key.groupby("keyword").text_clean_len.sum()

C:\Users\Arjun\AppData\Local\Temp/ipykernel_19428/2910172588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_key["text_clean_len"] = data_key.text_clean.apply(len)

keyword
ablaze                 3084
accident               3126
aftershock             3041
airplane%20accident    3385
ambulance              3414
                       ...
wounded                3787
wounds                 3165
wreck                  3003
wreckage               4248
wrecked                2726
Name: text_clean_len, Length: 221, dtype: int64

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.pipeline import FeatureUnion
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC

In [26]:
tfidf = Pipeline([
    ("count", CountVectorizer(max_features = 5000, stop_words = "english")),
    ("tfidf", TfidfTransformer())
])

master_NB = Pipeline([
    ("vect", tfidf),
    ("scaler", StandardScaler(with_mean = False)),
    ("clf", MultinomialNB())
])

master_SVC = Pipeline([
    ("vect", tfidf),
    ("scaler", StandardScaler(with_mean = False)),
    ("clf", SVC())
])

In [27]:
X = data_key["text_clean"]
Y = data_key["target"].astype("bool")

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [29]:
X_train.shape

(6041,)

In [30]:
Y_train.shape

(6041,)

In [31]:
master_NB.fit(X_train, Y_train)

Pipeline(steps=[('vect',
                 Pipeline(steps=[('count',
                                  CountVectorizer(max_features=5000,
                                                  stop_words='english')),
                                 ('tfidf', TfidfTransformer())])),
                ('scaler', StandardScaler(with_mean=False)),
                ('clf', MultinomialNB())])

In [33]:
Y_NB_pred = master_NB.predict(X_test)

In [34]:
from sklearn.metrics import accuracy_score, f1_score

In [35]:
print("Accuracy score:", accuracy_score(Y_test, Y_NB_pred))
print("F1-score:", f1_score(Y_test, Y_NB_pred))

Accuracy score: 0.7557908669755129
F1-score: 0.7176740627390973

In [36]:
master_SVC.fit(X_train, Y_train)

Pipeline(steps=[('vect',
                 Pipeline(steps=[('count',
                                  CountVectorizer(max_features=5000,
                                                  stop_words='english')),
                                 ('tfidf', TfidfTransformer())])),
                ('scaler', StandardScaler(with_mean=False)), ('clf', SVC())])

In [37]:
Y_SVC_pred = master_SVC.predict(X_test)

In [38]:
print("Accuracy score:", accuracy_score(Y_test, Y_SVC_pred))
print("F1-score:", f1_score(Y_test, Y_SVC_pred))

Accuracy score: 0.786896095301125
F1-score: 0.7150442477876106